#contenedor {
    width: 100vw;
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 40px auto 0 auto; /* Centra vertical y horizontalmente */
    box-sizing: border-box;
    background: #f6f8fa;
}

.carta {
  width: 100px;
  height: 150px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #2e86de; /* color de dorso */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  cursor: pointer;
}

.sinMostrar {
  color: transparent; /* Oculta el contenido */
}

.acierto {
  background-color: #28a745; /* Verde */
}